.ask-content {
  border: 1px solid red;
  width: 84%;
  margin: 0 auto;
  padding: 0 10px;

  .ask-header {
    display: flex;
    height: 18vh;
    margin-bottom: 20px;

    p {
      width: 40%;
      font-size: 30px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

// .ask-header p {
//   width: 40%;
//   font-size: 30px;
//   font-weight: 600;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
// .ask-header-image {
//   width: 60%;
//   background-image: url("/image/ask-content.svg");
//   background-repeat: no-repeat;
//   background-size: 100% 100%;
// }
// .ask-title-box {
//   border: 1px solid rgb(166 206 237);
//   border-radius: 5px;
//   padding: 20px;
//   width: 69%;
//   background-color: rgb(235 244 251);
// }
// .ask-title-box {

// }