.content-box {
  width: 86%;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  font-size: 13px;
}

/* tool-left */
.tool-left {
  border-right: 1px solid rgba(183, 179, 179, 0.426);
  width: 170px;
  padding: 20px 0;
}
.tool-left > div {
  min-height: 40px;
  padding: 8px 0;
  line-height: 25px;
}
.question-menu > div {
  display: flex;
  line-height: 30px;
}
.question-menu > div:hover {
  cursor: pointer;
  background-color: rgb(241 242 243);
}
.question-menu > div > div {
  width: 30px;
  margin-right: 5px;
  text-align: center;
}
.question-menu > div > div i {
  position: relative;
}
.active {
  font-weight: 700;
  background-color: rgb(241 242 243);
  border-right: 3px solid rgb(244 130 37);
}

.collectives a i {
  margin-right: 5px;
  color: rgb(244 130 37);
}
.team-box {
  border: 1px solid rgba(183, 179, 179, 0.426);
  padding: 12px;
  border-radius: 5px 0 0 5px;
  text-align: center;
}
.team-box p {
  line-height: 20px;
  text-align: left;
}
.team-box img {
  text-align: center;
  width: 97%;
}
.team-box button {
  text-align: center;
  font-size: 11px;
  width: 97%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(244 130 37);
  color: white;
}

/* tool-right */
.tool-right {
  width: calc(100% - 200px);
  display: flex;
  height: 93vh;
  overflow: auto;
}
.tool-right::-webkit-scrollbar {
  width: 0px;
}
.content {
  /* border: 1px solid blue; */
  min-height: 93vh;
  height: max-content;
  width: 74%;
  padding-right: 20px;
}
.content-header {
  height: 135px;
  padding: 20px 0 0;
}
.content-header > div {
  display: flex;
  height: 50%;
  padding: 0 0px 0 15px;
}
.content-header-top p {
  margin: 8px 0 20px;
  font-size: 25px;
  width: 87%;
}
.content-header-top button {
  width: 14%;
  margin: 0px 0 15px;
  padding: 0 10px;
  background-color: rgb(10 149 255);
  border: none;
  color: white;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: inset 0 2px rgb(196, 208, 234);
}
.content-header-bottom p {
  /* border: 1px solid red; */
  margin: 12px 0 20px;
  font-size: 18px;
  width: 39%;
}
.content-navbar {
  /* border: 1px solid blue; */
  margin: 6px 20px 15px 0;
  display: flex;
  width: 51%;
}
.nav-item {
  border: 1px solid rgb(183, 183, 215);
  padding: 7px 8px;
  border-radius: 2px;
}
.nav-item span {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 0 2px;
}
.nav-item i {
  margin-left: 3px;
  position: relative;
  top: 2px;
}
.filte-btn {
  border: 1px solid rgb(170, 167, 167);
  border-radius: 3px;
  margin: 6px 0 15px 0;
  display: flex;
  width: 9%;
  color: rgb(81, 81, 207);
  text-align: center;
  padding: 6px 5px;
  background-color: rgb(225 236 244);
}
.filte-btn i {
  /* color: blue; */
  position: relative;
  top: 9px;
  margin-right: 3px;
}
.content-item {
  height: 160px;
  display: flex;
  border-top: 1px solid rgb(207, 207, 218);
}
.content-item-left {
  width: 120px;
  height: 100%;
  padding: 20px 10px 0 30px;
  text-align: right;
}
.content-item-left p {
  padding-bottom: 5px;
}
.content-item-right {
  width: calc(100% - 120px);
  height: 100%;
  padding: 15px 0px 10px 0px;
}
.question-title {
  color: blue;
  font-size: 18px;
  margin-bottom: 5px;
}
.answers-title {
  margin-bottom: 5px;
}
.question-tags {
  margin-top: 5px;
  padding: 5px 0;
  border: 1px solid rgb(207, 207, 218);
  border-radius: 5px;
  font-weight: 600;
  color: red;
  text-align: center;
}
.right-box {
  /* border: 1px solid blue; */
  width: 28%;
  padding: 30px 0;
  height: max-content;
}
.right-box > div {
  border: 1px solid rgba(170, 167, 167, 0.348);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.455);
  border-radius: 5px;
}
.overflow-blog {
  min-height: 350px;
  margin-bottom: 20px;
  background-color: rgb(253 247 226);
}
.overflow-blog > div {
  /* border: 1px solid red; */
  min-height: 38px;
  padding: 8px 10px;
}
.overflow-div1,
.overflow-div3 {
  border-bottom: 1px solid rgba(190, 185, 185, 0.525);
  background-color: rgb(251 243 213);
}
.overflow-div2,
.overflow-div4 {
  display: flex;
}
.overflow-div2:hover,
.overflow-div4:hover {
  cursor: pointer;
}
.overflow-div2 i,
.overflow-div4 i {
  margin-right: 5px;
  position: relative;
  top: 10px;
}
.overflow-div3 {
  border-top: 1px solid rgba(190, 185, 185, 0.525);
}
.overflow-div1 p,
.overflow-div3 p {
  font-weight: 700;
}

.collectives-title {
  min-height: 350px;
  margin-bottom: 300px;
  padding-bottom: 10px;
}

.collectives-header {
  height: 50px;
  display: flex;
  padding: 10px;
  background-color: rgb(228, 237, 237);
}
.collectives-header p + p {
  margin-left: 55%;
  position: relative;
  top: 4px;
}
.collectives-item {
  height: 100px;
  padding: 10px;
  border-top: 1px solid rgba(190, 185, 185, 0.525);
}
.collectives-item > div {
  display: flex;
}
.collectives-item > div > img {
  width: 20px;
  margin: 15px;
}
.collect-name {
  width: 62%;
}
.join-btn {
  width: 18%;
  padding-top: 5px;
}
.join-btn button {
  height: 35px;
  width: 100%;
  background-color: white;
  border: 1px solid blue;
  border-radius: 5px;
  color: blue;
}
.related-tags,
.hot-network-ques {
  margin-bottom: 20px;
  box-shadow: none !important;
  border: none !important;
  font-size: 12px;
}

.tags-header {
  height: 45px;
  font-size: 20px;
  padding: 5px 0;
}
.tag-item-box {
  max-height: 350px;
  overflow: hidden;
}
.tags-item {
  padding: 10px;
}
.tags-item span:nth-child(1) {
  background-color: rgb(225 236 244);
  padding: 5px 7px;
  border-radius: 5px;
  color: blue;
}
.tags-item span:nth-child(1):hover,
.quetion-item-box > div:hover {
  cursor: pointer;
}
.more-btn {
  color: blue;
  padding: 10px;
}
.more-btn:hover {
  cursor: pointer;
}
.quetion-item-box > div {
  display: flex;
  color: blue;
  margin: 10px;
}
.quetion-item-box > div i {
  position: relative;
  width: 30px;
  text-align: center;
}
