.detail-page {
    width: 74%;
    min-height: 100vh;
    padding: 25px;

    .detail-header {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(194, 192, 192, 0.582);

        .detail-header-title {
            padding-bottom: 10px;
            display: flex;

            >p {
                font-size: 26px;
            }

            >a {
                width: 30%;
                height: 40px;
            }
        }

        .detail-header-properties {
            color: rgb(147, 149, 149);

            span {
                color: black;
                padding: 0 10px 0 5px;
            }
        }
    }

    .detail-content {
        padding: 20px 0;
        display: flex;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(194, 192, 192, 0.582);


        .detail-content-left {
            width: 8%;
            text-align: center;

            i {
                color: rgb(186 191 196);
            }

            p {
                font-size: 25px;
                color: rgb(115, 119, 123);

            }
        }

        .detail-content-right {
            padding: 0 20px;

            pre {
                code {
                    width: 100%;
                    white-space: pre-wrap;
                    margin-bottom: 20px;
                    display: inline-block;
                    font-size: 15px;
                    line-height: 25px;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: rgba(178, 231, 213, 0.427);
                }
            }

            p {
                white-space: pre-wrap;
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 10px;
            }

            >div {
                margin-bottom: 10px;

                span {
                    background-color: rgb(225 236 244);
                    color: blue;
                    display: inline-block;
                    padding: 6px 10px;
                    border-radius: 4px;

                    &:hover {
                        cursor: pointer;
                        background-color: rgba(127, 255, 212, 0.64);
                    }
                }

                span+span {
                    margin-left: 10px;

                }
            }
        }

        .question-user {
            text-align: right;
            padding: 20px;
        }
    }

    .detail-answer {
        border-bottom: 1px solid rgba(194, 192, 192, 0.582);

        >p {
            font-size: 20px;
            padding-bottom: 20px;
        }

        .answer-content {
            display: flex;
            margin-bottom: 20px;

            .answer-content-left {
                width: 8%;
                text-align: center;

                i {
                    color: rgb(186 191 196);
                }

                p {
                    font-size: 25px;
                    color: rgb(115, 119, 123);

                }
            }

            .answer-content-right {
                padding: 0 20px;
                font-size: 15px;
                line-height: 25px;
            }
        }

        .answer-user {
            text-align: right;
            padding: 20px;
        }
    }

    .answer-form {
        padding: 20px;

        >p {
            font-size: 20px;
            margin-bottom: 20px;
        }

        textarea {
            min-height: 250px;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

textarea {
    border-radius: 3px;
    border: 1px solid rgb(167, 167, 225);
    padding: 10px;
    font-size: 20px;

    &:focus {
        outline-style: outset;
        border: 4px solid rgba(0, 179, 255, 0.57);
    }
}