.users-page {
    width: calc(100% - 170px);
    min-height: 100vh;
    padding: 25px;

    .users-header-box {
        padding-bottom: 20px;

        >p {
            font-size: 26px;
            width: 80%;
            padding-bottom: 10px;
        }
    }

    .users-search {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        .users-input {
            position: relative;

            >input {
                width: 200px;
                height: 35px;
                background-color: rgb(255 255 255);
                color: rgb(121, 117, 117);
                font-size: 13px;
                padding: 0 10px 0 30px;
                border-radius: 3px;
                border: 1px solid rgba(171, 169, 169, 0.534);
                outline: none;

                &::placeholder {
                    color: rgb(184, 183, 183);
                }
            }

            i {
                position: absolute;
                color: rgb(107, 105, 105);
                left: 10px;
                top: 15px;

                &:hover {
                    cursor: pointer;
                }
            }


        }

        >div {
            span {
                font-size: 13px;
                display: inline-block;
                padding: 8px 15px;
                border: 1px solid rgb(121, 117, 117);
                border-radius: 2px;
                color: rgb(121, 117, 117);

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .users-time {
        display: flex;
        justify-content: flex-end;

        span {
            display: inline-block;
            padding: 8px 10px;
            color: rgb(121, 117, 117);
            margin: 0 2px;

            &:hover {
                cursor: pointer;
                border-bottom: 2px solid orangered;
            }
        }
    }

    .users-content-box {
        height: 90vh;
        overflow: auto;

        .users-content {
            display: grid;
            grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
            gap: 1%;
            row-gap: 15px;
            margin-top: 30px;

            .users-items {
                border: 1px solid rgba(171, 169, 169, 0.534);
                min-height: 80px;
                height: max-content;
                border-radius: 5px;
                padding: 8px;
                display: flex;

                img {
                    width: 60px;
                    height: 60px;
                }

                .users-infor {
                    width: calc(100% - 60px);
                    margin-left: 5px;
                    padding: 5px;
                    .user-name {
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
        }

    }

    .div-page {
        position: relative;
        display: flex;
        box-sizing: border-box;
        justify-content: right;

        .page-id {
            display: flex;
            overflow: hidden;

            .order {
                position: relative;
                top: 11px;
                border: 1px solid red;
                display: block;
                height: 30px;
                width: 30px;
                line-height: 27px;
                text-align: center;
                margin: 0 3px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .previos,
        .next {
            text-align: center;
            background-color: rgba(173, 166, 166, 0.901);
        }

        .previos i:hover {
            color: red;
        }

        .next i:hover {
            color: blue;
        }
    }
}